
    canvas {
        border: 1px solid black;
    }
    h3 {
        height: 15px;
        text-align: center;
    }
    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: #696969;
    }
    .codeblock {
        background-color: black;
        color: white;
    }
    #instr {
        border: 3px solid white;
        border-radius: 20px;
        background-color: #EFEFEF;
        font-size: 20px;

    }
    #title {
      color: white;
      font-size: 40px;

    }
    #instr p{
      margin-left: 10px;
      margin-right: 10px;
      min-height: 5px;
    }
    .ide p{
      color: white;
    }

    .play_h{
      font-weight: bold;
    }
    .enem_h{
      font-weight: bold;
    }
