body, html{
    margin: 0;
    padding: 0;
  
}
#instr{
    display:flexbox;
    height: max-content;
    margin-left: 4.5rem;
    margin-top: 11rem;
    margin-right: 1rem;
    height: 24.5rem;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}
#game{
    display:flexbox;
    margin-top: 5rem;
    padding-left: 1.5rem;
    align-items: center;
    
}
#ide{
    display:flexbox;
    margin-top: 20rem;
}
#play_h{
    font-size: 2rem;
}
textarea{
    display: block;
    margin-top: 11rem;
    padding-bottom: 5rem;
    height: 20rem;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}
button{
    border-radius: 10px;
    margin-top: 1rem;
    width: 5rem;
    background-color: red;
}
.codeblock{
  background-color: hsla(204,100%,0%,.85);
  color: #e6ffff;
  padding: 2px;
}
